html, body {
	height: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
	color: #5c5c5c;

	--text-color: #5c5c5c;
	--main-bg-color: #e2d78d;
	--container-border-radius: 3px;
	--container-shadow: 4px 4px 7px 0px rgba(34, 60, 80, 0.2);
	--item-shadow: 3px 2px 4px 0px rgb(22 41 56 / 20%);
}

head {

}


/*
 * ========= MAIN =========
 */ 

span.incorrect {
	text-decoration: line-through;
	color: red;
	margin-right: 5px;
}

span.incorrect span {
	opacity: 0.5;
	color: var(--text-color);
}

p {
	font-size: 18px;
	font-weight: 300;
	line-height: 20px;
	padding: 5px 0;
}

input, select {
	width: 200px;
	height: 40px;
	border: 0;
	padding: 0 20px;
	background: #f2f2f2;
	font-weight: 100;
	box-sizing: border-box;
}

input:hover, select:hover {
	box-shadow: var(--item-shadow);
}

h1 {
	font-weight: 700;
	font-size: 25px;
}

h2 {
	font-size: 20px;
    font-weight: 400;
    padding: 20px 0;
}

/*
 * ========= PAGE =========
 */ 

.page {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    background: var(--main-bg-color);
}

@media screen and (max-width: 1050px) {
	.page {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/*
 * ========= HEAD =========
 */ 

.head {
	display: block;
	width: 1000px;
	background: white;
	padding: 20px 30px;
	border-bottom-left-radius: var(--container-border-radius);
	border-bottom-right-radius: var(--container-border-radius);
	box-shadow: var(--container-shadow);
}

@media screen and (max-width: 1050px) {
	.head {
		width: 100%;
	}
}

/*
 * ========= BODY =========
 */ 

.body {
	max-width: 1000px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1050px) {
	.body {
		width: 100%;
	}
}

.body-intro, .body-preparing, .body-training {
	background: white;
	padding: 20px 30px;
	border-radius: var(--container-border-radius);
	margin-top: 20px;
	box-shadow: var(--container-shadow);
}

.body-intro {
	max-width: 1000px;
}

.body-preparing {
	max-width: 500px;
}

@media screen and (max-width: 600px) {
	.body-preparing {
		width: 100%;
	}
}

.body-training {
	max-width: 1000px;
}

/*
 * ========= selectTraining =========
 */
.selectTraining {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
}

@media screen and (max-width: 800px) {
	.selectTraining {
		display: flex;
		flex-direction: column;
		align-content: center;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		padding-top: 10px;
	}
}

.selectTraining-item {
	width: 100%;
	min-height: 150px;
	background: var(--main-bg-color);
	border-radius: var(--container-border-radius);
	padding: 10px 20px;
	cursor: pointer;
}

.selectTraining-item:hover {
	box-shadow: var(--item-shadow);
}

.selectTraining-item:active {
	filter: brightness(90%);
}

.selectTraining-item:focus {
	filter: brightness(90%);
}

.selectTraining-item:first-child {
	margin-right: 10px;
}

.selectTraining-item:last-child {
	margin-left: 10px;
}


@media screen and (max-width: 800px) {
	.selectTraining-item:first-child {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.selectTraining-item:last-child {
		margin-left: 0;
		margin-top: 10px;
	}
}

/*
 * ========= preparingTraining =========
 */

.preparingTraining {
	
}

.preparingTraining-params {
	
}

/*
 * ========= param =========
 */

.param {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: nowrap;
    padding-bottom: 5px;
}

.param:last-child {
	padding-bottom: 0px;
}

.param-label {
	width: 200px;
	font-weight: 100;
}

/*
 * ========= actions =========
 */

.actions {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.actions-button {
	cursor: pointer;
	width: 100%;
	height: 40px;
	border: 0px;
}

.actions-button:hover {
	box-shadow: var(--item-shadow);
}

.actions-button:active {
	filter: brightness(90%);
}

.actions-button:focus {
	filter: brightness(90%);
}

.actions-button:first-child {
	margin-right: 10px;
}

.actions-button:last-child {
	margin-left: 10px;
}

.actions-button.primary {
	background: var(--main-bg-color);
}

/*
 * ========= testTrainingTable =========
 */

.testTrainingTable {
	margin-top: 20px;
}

.testTrainingTable-input {
	width: 150px;
	margin-bottom: 5px;
}

.testTrainingTable thead th {
	font-weight: 800;
	padding-bottom: 10px;
}

.testTrainingTable thead th:first-child {
	padding-right: 5px;
	text-align: end;
}

.testTrainingTable tr:last-child .testTrainingTable-input {
	margin-bottom: 0px;
}

.testTrainingTable tr td:first-child {
	padding-right: 5px;
	text-align: end;
}

/*
 * ========= trainingTimer =========
 */

.trainingTimer {
    text-align: center;
}

.trainingTimer-timer {
	height: 100px;
	font-size: 100px;
}

/*
 * ========= dictationTraining =========
 */

.dictationTraining {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.dictationTraining-solving {
	margin-top: 20px;
	font-size: 30px;
	margin-bottom: 10px;
}

.dictationTraining-checking {
	margin-top: 20px;
	font-size: 30px;
	margin-bottom: 10px;
}
