html, body {
	height: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
	color: #5c5c5c;


	--transparent: #fff0;
	--link-color: #f1f1f1;
	--border-color: #5c5c5c;
	--footer-color: #c4c4c4;
	--text-color: #5c5c5c;
	--main-bg-color: #fff;
	--accent-color: #978a33;
	--container-border-radius: 3px;
	--container-shadow: 4px 4px 7px 0px rgba(34, 60, 80, 0.2);
	--item-shadow: 3px 2px 4px 0px rgb(22 41 56 / 20%);
}

head {

}

/*
 * ========= LAYOUT =========
 */

.Layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.Layout_Head {
	flex-shrink: 0;
}

.Layout_Body {
	flex-grow: 1;
}

.Layout_Footer {
	flex-shrink: 0;
}

/*
 * ========= MAIN =========
 */ 

span.correct {
	color: #45a717;
}

span.incorrect {
	text-decoration: line-through;
	color: red;
	margin-right: 5px;
	font-weight: 200;
}

span.incorrect span {
	opacity: 0.5;
	color: var(--text-color);
}

p {
	font-size: 18px;
	font-weight: 200;
	line-height: 22px;
	margin: 10px 0;
	text-align: justify;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

input, select {
	width: 200px;
	height: 40px;
	border: 0;
	padding: 0 20px;
	background: #f2f2f2;
	font-weight: 100;
	box-sizing: border-box;
}

input:hover, select:hover {
	box-shadow: var(--item-shadow);
}


@media screen and (max-width: 450px) {
	input, select {
		width: 170px;
	}
}

h1 {
	font-weight: 700;
	font-size: 25px;
}

h2 {
	font-size: 20px;
    font-weight: 400;
    padding: 20px 0;
}

img {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

strong {
	font-weight: 600;
}

ul {
	display: block;
	list-style-type: disc;
	padding-inline-start: 40px;
}

li {
	margin: 10px 0;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
}

/*
 * ========= PAGE =========
 */ 

.Page {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    background: var(--main-bg-color);
	min-width: 400px;
}

/*
 * ========= HEAD =========
 */ 

.Head {
	display: block;
	background: var(--accent-color);
	width: 100%;
	padding: 30px 0;
}

.Head_Content {
	width: 1000px;
	margin: 0 auto;
}

@media screen and (max-width: 1100px) {
	.Head_Content {
		width: 100%;
		padding: 0 50px;
	}
}

@media screen and (max-width: 700px) {
	.Head_Content {
		width: 100%;
		padding: 0 20px;
	}
}

.Head_Title {
	color: #fff;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.Head_SubTitle {
	color: #fff;
	font-size: 30px;
	font-weight: 100;
	margin-top: 5px;
	text-transform: uppercase;
}

@media screen and (max-width: 450px) {
	.Head_SubTitle {
		font-size: 27px;
	}
}


/*
 * ========= BODY =========
 */ 

.Body {
	width: 1000px;
    display: flex;
    flex-wrap: nowrap;
	margin-top: 30px;
}

@media screen and (max-width: 1100px) {
	.Body {
		width: 100%;
		padding: 0 50px;
	}
}


@media screen and (max-width: 700px) {
	.Body {
		width: 100%;
		padding: 0 20px;
		margin-top: 20px;
	}
}

.Body_Intro, .Body_Preparing, .Body_Training {
	background: white;

}

.Body_Intro {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 1000px;
	margin: 0 auto;
}

.Body_Preparing {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 1000px;
}

@media screen and (max-width: 600px) {
	.Body_Preparing {
		width: 100%;
	}
}

.Body_Training {
	max-width: 1000px;
}

/*
 * ========= TrainingSelector =========
 */
.TrainingSelector {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	margin: 15px 0;
}

.TrainingSelector_Item {
	cursor: pointer;
	padding: 15px;
	text-transform: uppercase;
	font-weight: 200;
	font-size: 20px;
	position: relative;
}

.TrainingSelector_Item:hover:after {
	content: ' ';
	width: 100%;
	border-bottom: 5px solid var(--accent-color);
	position: absolute;
	left: 0;
	bottom: -3px;
}

/*
 * ========= TrainingPreparation =========
 */

.TrainingPreparation {

}

.TrainingPreparation_Title {
	font-size: 25px;
	font-weight: 200;
	text-transform: uppercase;
	padding: 0 0 25px 0;
}

@media screen and (max-width: 700px) {
	.TrainingPreparation_Title {
		padding: 0 0 20px 0;
	}
}

.TrainingPreparation_Content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
}

.TrainingPreparation_Description {
	margin-right: 20px;
}

.TrainingPreparation_Params {
	margin-left: 20px;
}


@media screen and (max-width: 900px) {
	.TrainingPreparation_Content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.TrainingPreparation_Description {
		margin-right: 0;
	}

	.TrainingPreparation_Params {
		margin-left: 0;
		margin-top: 20px;
	}
}

/*
 * ========= Param =========
 */

.Param {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: nowrap;
    padding-bottom: 5px;
}

.Param:last-child {
	padding-bottom: 0;
}

.Param_Label {
	width: 200px;
	font-weight: 200;
	margin-right: 10px;
}

@media screen and (max-width: 450px) {
	.Param_Label {
		width: 170px;
	}
}

/*
 * ========= Actions =========
 */

.Actions {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}

.Actions_Button {
	cursor: pointer;
	height: 40px;
	border: 0;
	width: 200px;
	margin-right: 10px;
}

@media screen and (max-width: 450px) {
	.Actions_Button {
		width: 170px;
	}
}

.Actions_Button:hover {
	box-shadow: var(--item-shadow);
}

.Actions_Button:active {
	filter: brightness(90%);
}

.Actions_Button:focus {
	filter: brightness(90%);
}


.Actions_Button:last-child {
	margin-right: 0;
}

.Actions_Button.primary {
	background: var(--accent-color);
	color: #fff
}

/*
 * ========= TestTrainingTable =========
 */

.TestTrainingTable {
	margin-top: 20px;
}

.TestTrainingTable_Input {
	width: 150px;
	margin-bottom: 5px;
}

.TestTrainingTable thead th {
	font-weight: 800;
	padding-bottom: 10px;
}

.TestTrainingTable thead th:first-child {
	padding-right: 15px;
	text-align: end;
}
.TestTrainingTable thead th:last-child {
	text-align: start;
	padding-left: 10px;
}

.TestTrainingTable_checking thead th:last-child {
	padding-left: 0;
}

.TestTrainingTable tr:last-child .TestTrainingTable_Input {
	margin-bottom: 0;
}

.TestTrainingTable tr td:first-child {
	padding-right: 5px;
	text-align: end;
	font-weight: 200;
	font-size: 20px;
}

.TestTrainingTable_checking tr td:first-child {
	font-size: 20px;
	font-weight: 200;

}

.TestTrainingTable_checking tr td:last-child {
	font-size: 20px;
	font-weight: 600;
}

/*
 * ========= TrainingTimer =========
 */

.TrainingTimer {
    text-align: center;
}

.TrainingTimer_Timer {
	height: 100px;
	font-size: 100px;
}

/*
 * ========= DictationTraining =========
 */

.DictationTraining {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.DictationTraining_Solving {
	margin-top: 20px;
	font-size: 30px;
	margin-bottom: 20px;
}

.DictationTraining_Checking {
	margin-top: 20px;
	font-size: 30px;
	margin-bottom: 20px;
}

/*
 * ========= TestTraining =========
 */

.TestTraining {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*
 * ========= Footer =========
 */

.Footer {
	display: block;
	background: var(--footer-color);
	width: 100%;
	padding: 30px 0;
	margin-top: 30px;
}

.Footer_Content {
	width: 1000px;
	margin: 0 auto;
}

@media screen and (max-width: 1100px) {
	.Footer_Content {
		width: 100%;
		padding: 0 50px;
	}
}

@media screen and (max-width: 700px) {
	.Footer_Content {
		width: 100%;
		padding: 0 20px;
	}
}


/*
 * Link
 */
.Link {
	color: var(--link-color);
	text-decoration: none;
	display: inline-block;
}

.Link:after {
	content: ' ';
	border-bottom: 1px solid var(--link-color);
	position: relative;
	height: 2px;
	margin-bottom: -2px;
	display: block;
}

.Link:hover:after {
	border-bottom: 1px solid var(--transparent);
}